<html>

<head>
    <title><%- APP_NAME %></title>
    <link rel="icon" href="/app-icon.png" />
</head>

<body style="background-color: #1681ec;">
    <style>
        div {
            text-align: center;
        }

        .marginTopBy30PX {
            margin: 30px;
        }
    </style>
    <div class="marginTopBy30PX">
        <img src="/app-logo.png" alt="app logo" />
    </div>
    <h1 style="
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;" class="marginTopBy30PX">
        <%- APP_NAME %>
    </h1>
    <h3 style="
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;" class="marginTopBy30PX">
        VERSION : <%- APP_VERSION %>
    </h3>
</body>

</html>