html
  head
    title= "EMR Template"
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css")
    style
      //- include fonts.css
      //- include fontawesome.css
      //- include vuetify.css
      include ../patient-result/style.css
      include style.css
  body(class="v-application")
    div(style="margin-left:auto;margin-right:auto;")
      button(class="w-100 mt-3 primary flex-grow-1 v-btn v-btn--depressed v-btn--tile theme--dark v-size--small", onClick="convertImage()", value="Download", style="width:100%")
        span(class="v-btn__content")
          i(class="v-icon notranslate mr-2 fas fa-print theme--dark", style="font-size:16px")
          |Download
      div(class="paper", style="height:11.2in")
        div(class="d-none d-print-flex fill-height align-center justify-center", style="position:absolute;top:0;left:0;right:0;bottom:0;")
        div(class="fill-height d-flex flex-column")
          div(class="p-footer")
            include ../patient-result/footer
          div(class="p-header",id="header")
            img(src=content.qrCode, class="qr-code-template")
            include ../patient-result/header
          table()
            thead
              tr
                td
                  div(class="header-space")
  script(type="text/javascript")
    include html2canvas.js
    include script.js