section(class="d-none d-print-block no-break small-font", style="position:relative")
  div(class="d-flex mb-3 mt-5")
    div(style="width:48%")
      br
      div(class="w-100 text-center small")= content.patient.details.technicianName || ""
      div(class="w-100 border-top border-dark px-5")
      div(class="text-center small")= content.tech.techDescription || ""
    div(style="width:4%")
    div(style="width:48%")
      div(class="w-100 text-center small") #{content.patient.details.physicianName}
        br
        | #{content.patient.details.validatedByName}
      div(class="w-100 border-top border-dark px-5")
      div(class="text-center small") CONSULTANT/SENIOR RESIDENT
  div(style="font-size:.6rem;", class="text-center")
    div
      b NOTE:
      | The results are best interpreted by a healthcare professional and are not intended to be used as the sole means for diagnosis or management.
    div ** Report Electronically Signed Out **
  div(class="text-right", style="position:absolute;right:0;bottom:-0.1cm")
    i(class="fab fa-facebook") 
    i(class="fab fa-twitter") 
    i(class="fab fa-instagram") 
    | UERMOfficial
if !content.patient.previewData
  div(class="d-flex d-print-none btn-group-sm w-100")
    button(class="w-100 mt-3 primary flex-grow-1 v-btn v-btn--depressed v-btn--tile theme--dark v-size--small", onClick="window.print()", value="Print")
      span(class="v-btn__content")
        i(class="v-icon notranslate mr-2 fas fa-print theme--dark", style="font-size:16px")
        |Print
    button(class="w-100 mt-3 error flex-grow-1 v-btn v-btn--depressed v-btn--tile theme--dark v-size--small", onClick="window.close()", value="Print")
      span(class="v-btn__content")
        i(class="v-icon notranslate mr-2 fas fa-times theme--dark", style="font-size:16px")
        |Close